<html>
  <head>
    <title>Articles</title>
  </head>
  <body>
      <h1>Articles</h1>
        <ul>
            {%  for article in articles %}
                <li>
                    <p>ID: {{  article.item_id }} IDENTIFIER: {{  article.item_identifier }}</p>
                    <p>
                        <ul>
                            {%  for i in article.properties %}
                                {%  if i == 0 %}
                                    Common Properties
                                {%  else %}
                                    Properties for version {{ i }}:
                                {% endif %}
                                {% for property_name, property_data in article.properties[i].iteritems() %}
                                     <li>Name:{{ property_name}} Value:{{ property_data['value'] }}
                                     {%  if (property_name == 'publication_status' and property_data['value'] =='ready') %}

                                         <a href="{{ article.properties[i]['path']['value'] }}">preview article</a> |
                                         <a href="/publish/{{ article.item_identifier }}.{{ i }}">publish article</a>

                                     {% endif %}
                                     </li>
                                {%  endfor %}
                            {%  endfor %}
                        </ul>
                    </ul>
                    </p>
                    <p><a href="/event/{{article.item_identifier}}">list events</a></p>
                </li>
            {% endfor %}
        </ul>
  </body>
</html>